*{

    margin: 0;
    box-sizing: border-box;
    
    }
    
#grid_wrapper {
    
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 60px repeat(2, 1fr);
    grid-template-areas: 
    "he"
    "me"
    "pi"
    "pi"
    "pi"
    "pi"
    ;
    
    }
    
   
    
    #menu {
    
        grid-area: me;
        background-color: black;
        border: 2px solid rgb(218, 188, 20);
        border-radius: 7px;
        
    }
    
    #rubrik {
    
        grid-area: he;
        background: black;
    }
    
    #pic {
    
    grid-area: pi;
    background-image: url(../img/patrick-tomasso-GXXYkSwndP4-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    
    ;
    }
    
    
    

    
   